@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: background 0.6s linear;
    background-color: #f1f1f1;
}

body.dark {
    background-color: #363636;
    color: white;
}

body.dark .player {
    background-color: #4F4F4F;
    box-shadow: 0 6px 6px 3px #2d2d2e;
}

body.dark .img-player img {
    background-color: #4F4F4F;
    box-shadow: 0 6px 6px 3px #2d2d2e;
}

.open {
    display: block;
}

.player {
    min-width: 375px;
    min-height: 600px;
    border-radius: 30px;
    box-shadow: 0 6px 6px 3px #888;
    background-color: white;
}

.container {
    margin: 30px;
}

.top-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-player img {
    width: 40px;
    cursor: pointer;
}

label {
    background-color: black;
    border-radius: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;
}

body.dark label {
    background-color: white;
}

.darkmode input {
    visibility: hidden;
}

.img-player img {
    margin-top: 20px;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 2px #888;
    object-fit: cover;
}

.details-player {
    text-align: center;
    margin: 30px 0 30px;
}

.details-player h3 {
    font-size: 20px;
}

.details-player p{
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.7;
    color: #33a0b5;
    cursor: pointer;
    font-weight: bold;
}

.control-player audio {
    width: 100%;
}

.control {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ico-control {
    width: 40px;
    cursor: pointer;
}

.mute-control {
    width: 40px;
    cursor: pointer;
}

.main-control {
    width: 60px;
    cursor: pointer;
}

.progress-player audio {
    width: 100%;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px 0;
    background: #f1f1f1;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #33a0b5;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.timer {
    display: flex;
    justify-content: space-between;
}

.control img {
    background-color: #f1f1f1;
    border-radius: 1rem;
}

@media (max-width: 760px) {
    .player{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        background-color: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
}

#progress {
    background: white;
}

.control img {
    background-color: initial;
    border-radius: 0;
}

}